
/* App css for card deck */
/* .App {
  text-align: center;
  background-color: green;
  height: 100vh;
  display: flex;
  justify-content: center;  
} */

/* App css for Dad Jokes */
.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background: linear-gradient(70deg, #fff810  30%, rgba(0,0,0,0) 30%), linear-gradient(30deg, #63e89e 60%, #ff7ee3 60%);
  height: 100vh;

}